<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>Thank you for signing up to receive our exclusive email updates.  Now you’ll always have the first word on Tadashi Shoji news, runway and trend reports, and special promotions.</p>
  </body>
</html>	

 
Stay Connected to the World of Tadashi:
Like us on Facebook (https://www.facebook.com/tadashishoji)
Follow us on Twitter (https://twitter.com/TadashiShoji)
Follow us on Instagram (http://web.stagram.com/n/tadashishoji)
Follow us on Pinterest (http://pinterest.com/tadashishoji/)
Read our Blog (Once it goes live - http://blog.tadashishoji.com/)