<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>Thank you for signing up to receive our exclusive email updates.  Now you’ll always have the first word on Tadashi Shoji news, runway and trend reports, and special promotions.</p>
	<p>Stay Connected to the World of Tadashi:</p>
	<p><a href="https://www.facebook.com/tadashishoji">Like us on Facebook</a></p>
	<p><a href="https://twitter.com/TadashiShoji">Follow us on Twitter</a></p>
	<p><a href="http://instagram.com/tadashishoji/">Follow us on Instagram</a></p>
	<p><a href="http://pinterest.com/tadashishoji/">Follow us on Pinterest</a></p>
	<p><a href="http://blog.tadashishoji.com/">Read our Blog</a></p>
  </body>
</html>	

 
