<div id="social-buttons">
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style"
		 addthis:url="<%= request.url %>"
         addthis:title="#Tadashi30"
         addthis:description="<%= @story.name %>">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter" tw:text="<%= @story.name %>" tw:title="#Tadashi30" tw:url="<%= request.url %>" alt="Share to Twitter" /></a>
	</div>		
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fceb155437252cd"></script>	
</div>		