<!--- begin slideshow menu -->

<div class="slideshow" 
    data-cycle-fx=carousel
    data-cycle-timeout=0
    data-cycle-carousel-visible=5
    data-cycle-next="#next"
    data-cycle-prev="#prev"
    data-cycle-pager="#pager"
    >
    <img src="http://malsup.github.com/images/beach1.jpg">
    <img src="http://malsup.github.com/images/beach2.jpg">
    <img src="http://malsup.github.com/images/beach3.jpg">
    <img src="http://malsup.github.com/images/beach4.jpg">
    <img src="http://malsup.github.com/images/beach5.jpg">
    <img src="http://malsup.github.com/images/beach6.jpg">
    <img src="http://malsup.github.com/images/beach7.jpg">
    <img src="http://malsup.github.com/images/beach8.jpg">
    <img src="http://malsup.github.com/images/beach9.jpg">
</div>

<div class=center>
    <a href=# id=prev>&lt;&lt; Prev </a>
    <a href=# id=next> Next &gt;&gt; </a>
</div>

<div class="cycle-pager" id=pager></div>