
<table>
	<tr>
		<th>DISPLAY NAME:</th>
		<td><%= f.text_field :name, :class => "text_field" %></td>
	</tr>	
	<tr class="tight">
		<th colspan="2">I AM:</th>
	</tr>	
	<tr class="tight">
		<td colspan="2">Tell us a little about yourself --  your name, relation to Tadashi, and anything else you'd like to share about yourself</td>
	</tr>	
	<tr>
		<td colspan="2"><%= f.text_area :about_me %></td> 
	</tr>	
	<tr>
		<th colspan="2">WHEN I CLOSE MY EYES I'M WEARING MY TADASHI DRESS TO:</th>
	</tr>	
	<tr>
		<td colspan="2"><%= f.text_area :anecdote %></td> 
	</tr>	
	<tr>
		<td colspan="2"><%= submit_tag "Submit Story"%></td>
	</tr>	
</table>