<%= link_to image_tag(story.picture_with_count.url, :title => "#{story.name}", :class => "grid-image", :size => "115x115"),
	:controller => "pages", :action => "story", :id => story.id  %>
<p><%= story.name %></p>
