<style type="text/css">
	#submit {
		text-align:center;
		margin:40px 0;
	}

	h1.submit-title {
		font-size: 32px;
		margin:10px 0;
		color: #8d775a;
	}
	
	h1.submit-title .emphasize {
		font-style:italic;
	}
	
	.sub-title {
		font-size: 16px;
	}
	
	table,tr,th,td {
		margin:10px 0;
		padding:10px 0;
		text-align:center;
	}
	
	#submit textarea {
		width:100%;
	}
	
	#submit input.text_field {
		width:80%;
	}
	
	tr.tight, tr.tight th, tr.tight td {
		margin:0;
		padding:0;
	}
</style>



<div id="submit">

	<h1 class="submit-title">SUBMIT <span class="emphasize">YOUR</span> STORY</h1>
	<h4 class="sub-title">GOT SOMETHIN' TO SAY? WELL THEN SAY IT! SUBMIT YOUR<br/> STORY TO BE FEATURED ON OUR WEBSITE YO!</h4>


	<%= form_for(:story, :url => pages_create_path) do |f| %>
	
	
		<%= render :partial => "form", :locals => {:f => f} %>

	<% end %>

</div>