<style type="text/css">

	#thank-you {
		text-align:center;
		margin-top:50px;
	}
	
	h1.thank-you-title {
		font-size:50px;
		font-family:'Didot';
		font-style:italic;
		color:#8d775a;
	}
	
</style>

<div id="thank-you">
	<h1 class="thank-you-title">THANK YOU!</h1>
	
	
	
</div>	