<style type="text/css">

	#thank-you {
		text-align:center;
		margin-top:50px;
	}
	
	h1.thank-you-title {
		font-size:50px;
		font-family:'Didot';
		font-style:italic;
		color:#8d775a;
		margin-bottom:20px;
	}
	
	#thank-you-links {
		margin-top:50px;
	}

	#thank-you-links a {
		margin:10px 0;
		display:block;
	}	
	
</style>

<%= render :partial => 'carousel_story', :locals => {:stories => @featured_stories} %>


<div id="thank-you">
	<h1 class="thank-you-title">THANK YOU!</h1>
	<p>Your submission has been received.</p> 
	<p>We will send an email as soon as your story is live.</p>
	<p>Sincerely,</p> 
	<p>Tadashi Shoji</p>

	<div id="thank-you-links">
		<%= link_to "CONTACT US", "mailto:social@tadashishoji.com" %>
		<%= link_to "RETURN TO STORIES", root_path %>
	</div>
	
</div>	