<%= form_for :story, :url => story_path(@story),
			 :html => {:method => :put } do |f| %>
	
	<%= render :partial => "form", :locals => { :f => f}%>			

<% end %>				


<h1>Original Pic</h1>
<%= image_tag @story.picture.url, :title => "Original Pic" %>

