/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url("reset.css");

a {
	text-decoration:none;
	color:#979797;
}

a:hover {
	color:#8d775a;
}


body {
	font: 14px/16px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #979797;
}

#nav {
 padding:10px 0;	
 margin:10px 0;
 width:625px;
 border-top:1px solid #777777;
 border-bottom:1px solid #777777;
}

#nav li {
	width:208px;
	list-style:none;
	float:left;
	text-align:center;
}

#nav li a {
	padding:10px;
}

#nav li a:hover {
	border-bottom:3px solid #8d775a;
}

.container {
	width:960px;
	margin:30px auto;
	background-color: #FFFFFF;
}

/* BEGIN CLEARFIX */

/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

/* END CLEARFIX */

hr {
	color:#777777;
	margin-top:14px;
}


#main {
	width:625px;
	float:left;
	margin:50px 0 50px 75px;
}

#social-feed {
	width:200px;
	float:right;
}

.debug_dump {
	display:block;
	clear:both;
}