<style type="text/css">
	#social-header {
		width:200px;
		height:50px;
		text-align:center;
	}
	
	h1.social-header-title {
		font-size:24px;
		font-family:'Didot';
		font-style:italic;
		color:#8d775a;
		margin-top:14px;		
	}
	
</style>


<div id="social-header">
	<h1 class="social-header-title">BUZZ</h1>
</div>
<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>        <div style="-webkit-overflow-scrolling:touch;overflow:auto;position:relative;height:1308px;width:200px;">        <iframe class="tintup" src="http://www.tintup.com/TadashiShoji-1362163485?embed=true&height=1278&width=200&cols=1" style="height:1278px;width:200px;border:none;"></iframe></div>