<nav id="nav">
	<li><%= link_to "FEATURED STORIES", root_path, :id => "featured_link" %></li>
	<li><%= link_to "SUBMITTED STORIES", pages_submitted_path, :id => "submitted_link" %></li>
	<li><%= link_to "SUBMIT YOUR STORY", pages_submit_path, :id => "submit_link" %></li>
</nav>