<nav id="nav">
	<li><%= link_to "FEATURED STORIES", root_path %></li>
	<li><%= link_to "SUBMITTED STORIES", pages_submitted_path %></li>
	<li><%= link_to "SUBMIT YOUR STORY", pages_submit_path %></li>
</nav>